.contenedor-menu{
    
position: absolute;


}

.button-close{
    font-style: 'Montserrat', sans-serif;
    border-style: none;
    background-color: #00102e;
    color: #fff;
    position: relative;
    padding-left: 5px;
}

.button-close:hover{
    cursor: pointer;
}




.list_arrow{
    height: 15px;
    margin-left: auto;

}



.nav-mobile{
    width: 300px;
    background-color: #00102e;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    
}

.nav-mobile.visible{
    opacity: 1;
    visibility: visible;
}

.list-mobile{
    width: 80%;
    height: 298vh;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.list-item-mobile{
    list-style-type: none;
    width: 100%;
    text-align: left;
    overflow: hidden;
    padding-right: 2px;
    
}

.list-item-mobile-click{
    cursor: pointer;
}
.list-button-mobile{
    display:flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}
.list-link-mobile{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 15px 0;
    
}

.list-inside-mobile:hover{
    background: #16294d;
    
}

.list-show-mobile{
    width: 80%;
    margin-left:auto;
    border-left: 2px solid #fff;
    list-style: none;
    transition: height .4s;
    height: 0;
}